body {
    background-image: url("TMFLIX Background blur.png");
    background-size: cover;
    padding: 0;
    margin: 0%;
}

header{
    padding: 15px;
}

header li{
    display: inline;
    padding-left: 50px;
}

header li a{
    color: white;
    text-decoration: none;
    padding: 13px;
}

.tv{
    width: 20px;
    height: 15px; 
    display: inline-block;
}
.subscription{
    width: 14px;
    height: 16px; 
    display: inline-block;
}
.user{
    width: 15px;
    height: 15px; 
    display: inline-block;
}
.logout{
    width: 15px;
    height: 15px; 
    display: inline-block;
}

header ul #tv a{
    float: right;
    position: relative;
    margin-right: 10px;
}

header ul #subscription a{
    float: right;
    position: relative;
    margin-right: 10px;
}

header ul #user a{
    float: right;
    position: relative;
    margin-right: 10px;
}

header ul #logout a{
    float: right;
    position: relative;
    margin-right: 5px;
}

header li img{
    width: 160px;
    height: 45px; 
    float: left;
}

header ul #admin h1{
    color: white;
    float:left;
    position: relative;
    margin-top: 0%;
    margin-left: 2%;
}

.container{
    width: 100%;
    height: 550px;
    background-color: black;
    padding-top: 0%;
    align-items: center;
    list-style: none;
}

.input{
    width: 15%;
    height: 34px;
    background-color: rgb(43, 43, 43);
    position: absolute;
    display: block;
    margin-top: 4%;
    margin-left: 10%;
    border: none;
}

.search-btn{
    position: absolute;
    left: 0;
    top: 0;
    width: 5%;
    height: 36px;
    margin-top: 10.4%;
    margin-left: 5%;
    background-color: rgb(75, 70, 70);
    border: none;
}

.search-icon{
    width: 25px;
    height: 25px;
}

div.a {
    line-height: 80%;
}

.create-icon{
   background-color: tomato;
   border: none;
   left: 0;
   top: 0;
   width: 8%;
   height: 34px;
   margin-top: 12.6%;
   margin-left: 23%;
   padding-top: 5px;
   padding-right: 12px;
}

.create-btn{
    width: 20px;
    height: 20px;
}

.create{
    width: 7%;
    height: 35px;
    background-color: rgb(219, 33, 33);
    text-align: left;
    font-weight: bold;
    color: white;
    border: none;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 88%;
    margin-top: 10.6%;
}

.col{
    width: 33.33%;
    height: 120px;
    background-color: #000000;
    float: left;
    text-align: center;
    color: rgb(255, 255, 255);
    vertical-align: bottom;
}

table{
    width: 90%;
    margin:auto;
    table-layout: fixed;
    text-align: left;
    color: white;
    margin-left: 5%;
    font-size: 13px;
    margin-left: 5%;
    overflow-y: scroll;
    
}

table, th, td{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 10px;
    background-color: rgb(75, 70, 70);
}
  
th{
    background-color: rgb(199, 198, 199);
    color: #000;
    text-align: center;
}

.fb{
    width: 30px;
    height: 30px;
    list-style: none;
}

.fb a{
    padding-right: 10px 20px;
}

.twt{
    width: 30px;
    height: 30px;
    list-style: none;
}

.twt a{
    padding: 10px 20px;
}

.ig{
    width: 35px;
    height: 30px;
    list-style: none;
}

.ig a{
    padding: 10px 40px;
}

.footer{
    display: flex;
    width: 100%;
    background-color: rgb(32, 32, 32);
    height: 86px;
}

.footer ul{
    display: flex;
    margin-left: 500%;
    padding-top: 10%;

}

.inner-footer{
    align-items: center;
}

.outer-footer{
    padding: 60px 0 0 600px;
    text-align: center;
    color:rgb(199, 198, 199);
    font-size: 10px;
}

.edit{
    width: 20px;
    height: 20px;
}

.edit-btn{
    width: 30px;
    height: 30px;
    background-color: rgb(219, 33, 33);
    border: none;
    border-radius: 5px;
    margin-left: 15%;
}

.delete{
    width: 20px;
    height: 20px;
}

.delete-btn{
    width: 30px;
    height: 30px;
    background-color: rgb(233, 151, 172);
    border: none;
    border-radius: 5px;
    margin-left: 20%;
}

.girl{
    width: 80px;
    height: 100px;
    padding-left: 15%;
}

.mirror{
    width: 80px;
    height: 100px;
    padding-left: 15%;
}

.bad{
    width: 80px;
    height: 100px;
    padding-left: 15%;
}












