body {
  background-image: url('TMFLIX Background Blur.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: 0;
  padding: 0;
}

.logo img{
  width: 80px;
  height: 40px;
}

li, a, button{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: aliceblue;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 3%;
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}

.user{
  padding: 9px 25px;
  border: none;
  
}

.signout{
  padding: 9px 25px;

}

.payment {
  display: block;
  font-weight: 500;
  color: white;
  padding-left: 5%;
  margin-top: 5%;
}

table {
  width: 60%;
  color: white;
  position: absolute;
  margin-left: 22%;
  padding: 0 50px 0 0;
}

.one{
  border: none;
  height: 1px;
  background: #dddddd;
  width: 60%;
}

.button {
  background-color: #dddddd;
  border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.goback{
  margin-left: 20%;
}

.print {
  background-color: rgb(163, 216, 240);
  margin-left: 41%;
}

.payment-container {
  background-color: black;
}

/* Update Plan Page */
.update {
  display: block;
  font-weight: 500;
  color: white;
  padding-left: 5%;
  margin-top: 5%;
}

.input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}


.standard-container{
  width: 1000px;
  height: 150px;
  border: 1px solid white;
  margin: auto;
  background-color: #1d1d1d;
  position: relative;
}

.col{
  width: 333.33px;
  height: 150px;
  background-color: #1d1d1d;
  float: left;
  text-align: center;
  color: rgb(255, 255, 255);
 
}

.premium-container{
  width: 1000px;
  height: 150px;
  border: 1px solid white;
  margin: auto;
  background-color: #131212;
  position: relative;
}

select {
  box-shadow:none;
  border:0!important;
  background: #1d1d1d;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#fff;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  align-items: right;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: .25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: white;
}

/* Account Detail Page*/
span.a {
  display: inline; 
  width: 100px;
  height: 100px;
  padding: 5px;
  color: #dddddd; 
}





  
  